/*
1- step trovare il quadratino nell html
2- hover sul quadratino
3- hover cambia colore di sfondo
4- temporizzo l hover realizzato prima al punto 3
*/


.ex-1-square:hover{
  background-color: red;
}

.ex-1-square{
  transition:  background-color 2s;
}
/* ESERCIZIO2:
1- cambio dimensioni del quadrato in :active
2- temporizzazione dell'active */

.ex-2-square:active{
width: 800px;
height:100px;
background-color: red;
}
.ex-2-square{
transition: width 3s;
}

/* ESERCIZIO3:
1- hover sul quadratino
2- hover cambia border radius
3-temporizzo nela classe
*/

.ex-3-square:hover{
  border-radius: 50%;
}
.ex-3-square{
  transition: border-radius 2s;
}

/* ESERCIZIO4: 
1-impostazione background color in hover
2-temporrizzazione nella classe */

.ex-4-square:hover{
  background-color: white;
}
.ex-4-square{
  transition: background-color 2s;
}

/* ESERCIZIO5: 
1-dimensioni 100px x 100px con hover (stesso background-color)
2-temporizzazione hover nella classe
3-cambio dimensioni a 40px x 40px in :active  */

.ex-5-square:hover{
  width: 100px;
  height: 100px;
  background-color: red;

}
.ex-5-square{
  transition: width 3s, height 3s; 

}

.ex-5-square:active{
  width: 40px;
  height: 40px;
}

/* ESERCIZIO6: 
1-impostazione filtro greyscale in hover sull'immagine

*/

.ex-6-img:hover{
filter: grayscale(100%);
}
/* ESERCIZIO7: 
1-impostazione filtro greyscale in hover sull'immagine
2-temporizzazione nella classe */

.ex-7-img:hover{
  filter: grayscale(100%);
  }
 .ex-7-img{
  transition: 2s;
 } 


 /* ESERCIZIO8: 
 
 1-impostare filtro greyscale in hover sull'imagine
 2-impostare border radius in hover
 3-temporizzazione nella classe   */

 .ex-8-img:hover{
  filter: grayscale(100%) blur(2px);
  border-radius: 20px;

  }

.ex-8-img{
transition: 1s;
}

 /* ESERCIZIO9: 
 
 1-impostare filtro greyscale in hover sull'imagine
 2-impostare border radius in hover
 3-temporizzazione nella classe   */

 .ex-9-img:hover{
  filter: contrast(1.3) brightness(1.);;
  border-radius: 20px;
  transform: scale(1.5);
  }

.ex-9-img{
transition: 2s;
}
 /* ESERCIZIO 10 
 1-creare un animation con un loop a 360 gradi */


.ex-10-icon{
  
  animation: loop-360 1s infinite linear;
}
@keyframes loop-360{
  
  0%{
    transform: rotate(0deg);
    
  }
  
  100%{
    transform: rotate(360deg);
  }
}

/* ESERCIZIO11 */



.ex-11-icon:hover{
  
  animation: loop2 2s linear;
  
}

@keyframes loop2{
  
  0%{transform: rotate(0deg);}
  
  99%{transform: rotate(270deg);}
  
  100%{transform: rotate(0deg) ;}
}

/* ESERCIZIO12 */

.ex-12-button{
  
  position: relative;
  transition: all 2s linear;
  
}

.ex-12-bottom-white{
  transition: all 2s;
}
.ex-12-top-white{
  transition: all 2s;
}
.ex-12-button:hover .ex-12-bottom-white {
  
  position: absolute;
  right: 130px;
 
}
.ex-12-button:hover .ex-12-top-white {
  
  position: absolute;
  left: 130px;
 
} 


/* ESERCIZIO13 */

.ex-13-button{
  
  position: relative;
  transition: all 2s linear;
  
}

.ex-13-bottom-white{
  transition: all 2s;
}
.ex-13-top-white{
  transition: all 2s;
}
.ex-13-button:hover .ex-13-bottom-white {
  
  position: absolute;
  right: 150px;
  animation: button 2s linear;
 
}

@keyframes button{

0%{top: 50px};
25%{left: 150px};
50%{bottom: 50px};
75%{left: 150px};
100%{}

}



.ex-13-button:hover .ex-13-top-white {
  
  position: absolute;
  left: 150px;

} 









  
 
  
   
  



